textarea {
  height : 140px;
  width  : 100%;
}

.toodo-table {
  width : auto;

  tr {
    &.selected td {
      background-color : #428bca;
      color            : #FFF;

      button {
        color : #000;
      }
    }

    td {
      padding    : 5px;
      border-top : 1px solid #EEE;

      &.complete {
        text-decoration : line-through;
        color           : #CCC;
      }
    }
  }
}
