<:Title>
  Too Do

<:Body>
  <div class="row">
    <div class="col-md-4">
      <h1>Too Do List</h1>

      <form e-submit="add_toodo" role="form">
        <div class="form-group">
          <label>Too Do</label>
          <input class="form-control" type="text" value="{{ page._new_toodo }}" />
        </div>
      </form>

      <table class="toodo-table">
        {{ _toodos.each_with_index do |toodo, index| }}
          <tr e-click="params._index = index"
              class="{{ if (params._index || 0).to_i == index}}selected{{ end }}"
            >
            <td><input type="checkbox" checked="{{ toodo._completed }}" /></td>
            <td class="{{ if toodo._completed }}complete{{ end }}">{{ toodo._name }}</td>
            <td><button e-click="toodo.destroy">X</button></td>
          </tr>
        {{ end }}
      </table>
    </div>

    <div class="col-md-8">
      {{ if current_toodo }}
        <h2>{{ current_toodo._name}}</h2>
        <textarea>{{ current_toodo._description }}</textarea>
      {{ end }}
    </div>
  </div>


