<:Title>
  Too Do

<:Body>
  <h1>Too Do List</h1>

  <form e-submit="add_toodo" role="form">
    <div class="form-group">
      <label>Too Do</label>
      <input class="form-control" type="text" value="{{ page._new_toodo }}" />
    </div>
  </form>

  <table class="toodo-table">
    {{ page._toodos.each do |toodo| }}
      <tr>
        <td><input type="checkbox" checked="{{ toodo._completed }}" /></td>
        <td class="{{ if toodo._completed }}complete{{ end }}">{{ toodo._name }}</td>
        <td><button e-click="toodo.destroy">X</button></td>
      </tr>
    {{ end }}
  </table>


